<launch>
  <!--include file="$(find openni2_launch)/launch/openni2.launch" /-->
  <param name="image_port" value="/usb_cam/image_raw" />
  <include file="$(find usb_cam)/launch/usb_cam-test.launch" />
  <!--node name="openni2_node" pkg="openni2_launch" type="openni2_launch" /-->
  <node name="ip_mapper_node" pkg="ip_mapping" type="ip_mapper_node" output="screen"/>
</launch>